{% extends "base.html" %}

{% block title %}Home - S3-MRS{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reservations.css') }}">
{% endblock %}

{% block content %}
<!-- Mục Tìm Kiếm Không Gian Học Tập -->
<div class="search-callout">
  <h2>Looking for a Study Space?</h2>
  <p>Our available spaces are waiting for you. Click the button below to explore space for your study needs.
    <button class="btn-checknow" onclick="location.href='/search-space'">Check Now!</button>
  </p>
</div>

<h2>Reservations</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}{% endwith %}
    <div class="cards">
      {% for sp in spaces %}
      <div class="card">
        <h3>{{ sp.name }}</h3>
        <p>{{ sp.type }}</p>
        <form method="POST">
          <input type="hidden" name="space_id" value="{{ sp.id }}">
          {% if sp.status == 'available' %}
            <div class="form-group">
              <label class="form-label" for="start_datetime">Start:</label>
              <input class="form-input" type="datetime-local" name="start_datetime" id="start_datetime" required>
            </div>
            
            <div class="form-group">
              <label class="form-label" for="end_datetime">End:</label>
              <input class="form-input" type="datetime-local" name="end_datetime" id="end_datetime" required>
            </div>
            <label class="equipment-label">
              Equipment:
              <select name="equipment" required>
                {% for eq in sp.equipment %}
                <option value="{{ eq }}">{{ eq }}</option>
                {% endfor %}
              </select>
            </label>
            <button type="submit" name="action" value="reserve" class="btn-primary-register">Reserve</button>
          {% elif sp.status == 'reserved' %}
            <button type="submit" name="action" value="checkin" class="btn-primary-register">Check-In</button>
            <button type="submit" name="action" value="checkout" class="btn-secondary cancel-btn">Cancel</button>
          {% elif sp.status == 'occupied' %}
            <button type="submit" name="action" value="checkout" class="btn-secondary-register">Check-Out</button>
          {% endif %}
        </form>
        <small>
          Status: {{ sp.status }}
          {% if sp.reserved_from %} from {{ sp.reserved_from.split('T')[0] }} {{ sp.reserved_from.split('T')[1] }}{% endif %}
          {% if sp.reserved_until %} util {{ sp.reserved_until.split('T')[0] }} {{ sp.reserved_until.split('T')[1] }}{% endif %}
          {% if sp.equipment %} with {{ sp.equipment }}{% endif %}
        </small>
      </div>
      {% endfor %}
    </div>
{% endblock %}
{% block extra_scripts %}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
