{% extends "base.html" %}

{% block title %}Home - S3-MRS{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reservations.css') }}">
{% endblock %}

{% block content %}
<h2>Reservations</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}{% endwith %}
    <div class="cards">
      {% for sp in spaces %}
      <div class="card">
        <h3>{{ sp.name }}</h3>
        <p>{{ sp.type }}</p>
        <form method="POST">
          <input type="hidden" name="space_id" value="{{ sp.id }}">
          {% if sp.status == 'available' %}
            <label>Date & Time:
              <input type="datetime-local" name="datetime" required>
            </label>
            <label>Equipment:
              <select name="equipment" required>
                {% for eq in sp.equipment %}
                <option value="{{ eq }}">{{ eq }}</option>
                {% endfor %}
              </select>
            </label>
            <button type="submit" name="action" value="reserve" class="btn-primary-register">Reserve</button>
          {% elif sp.status == 'reserved' %}
            <button type="submit" name="action" value="checkin" class="btn-secondary-register">Check-In</button>
          {% elif sp.status == 'occupied' %}
            <button type="submit" name="action" value="checkout" class="btn-secondary-register">Check-Out</button>
          {% endif %}
        </form>
        <small>
          Status: {{ sp.status }}
          {% if sp.reserved_until %} at {{ sp.reserved_until.split('T')[0] }} {{ sp.reserved_until.split('T')[1] }}{% endif %}
          {% if sp.equipment %} with {{ sp.equipment }}{% endif %}
        </small>
      </div>
      {% endfor %}
    </div>
{% endblock %}
{% block extra_scripts %}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
